In [1]:
import pandas as pd

In [3]:
!ls data/

20250301000000.export.CSV  GDELT_2.0_Events_schema.csv

In [4]:
data = pd.read_csv("data/20250301000000.export.CSV", header=None,delimiter='\t')

In [5]:
data.head().T

,0,1,2,3,4
0,1229422155,1229422156,1229422157,1229422158,1229422159
1,20240301,20240301,20240301,20240301,20240301
2,202403,202403,202403,202403,202403
3,2024,2024,2024,2024,2024
4,2024.1671,2024.1671,2024.1671,2024.1671,2024.1671
...,...,...,...,...,...
56,35.0,35.0,31.4167,33.8719,39.8647
57,105.0,105.0,34.3333,35.5097,-86.2604
58,CH,CH,-797156,-801546,IN
59,20250301000000,20250301000000,20250301000000,20250301000000,20250301000000
60,https://www.hepburnadvocate.com.au/story/89055...,https://www.hepburnadvocate.com.au/story/89055...,https://www.theglobeandmail.com/world/article-...,https://www.theglobeandmail.com/world/article-...,https://www.nwitimes.com/news/state-regional/c...

In [11]:
#!wget https://raw.githubusercontent.com/linwoodc3/gdelt2HeaderRows/refs/heads/master/schema_csvs/GDELT_2.0_Events_Column_Labels_Header_Row_Sep2016.csv

In [2]:
table = pd.read_csv("data/GDELT_2.0_Events_schema.csv")

In [3]:
columns = list(table.tableId.values)

In [9]:
data.columns = columns

In [17]:
data

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,1229422155,20240301,202403,2024,2024.1671,CHN,CHINESE,CHN,NaN,NaN,...,1,China,CH,CH,NaN,35.0000,105.0000,CH,20250301000000,https://www.hepburnadvocate.com.au/story/89055...
1,1229422156,20240301,202403,2024,2024.1671,CHNBUS,CHINESE,CHN,NaN,NaN,...,1,China,CH,CH,NaN,35.0000,105.0000,CH,20250301000000,https://www.hepburnadvocate.com.au/story/89055...
2,1229422157,20240301,202403,2024,2024.1671,ISR,ISRAEL,ISR,NaN,NaN,...,4,"Gaza, Israel (general), Israel",IS,IS00,18315,31.4167,34.3333,-797156,20250301000000,https://www.theglobeandmail.com/world/article-...
3,1229422158,20240301,202403,2024,2024.1671,LBN,BEIRUT,LBN,NaN,NaN,...,4,"Beirut, Beyrouth, Lebanon",LE,LE04,18808,33.8719,35.5097,-801546,20250301000000,https://www.theglobeandmail.com/world/article-...
4,1229422159,20240301,202403,2024,2024.1671,USA,INDIANA,USA,NaN,NaN,...,2,"Indiana, United States",US,USIN,NaN,39.8647,-86.2604,IN,20250301000000,https://www.nwitimes.com/news/state-regional/c...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4181,1229426336,20250301,202503,2025,2025.1671,VNM,VIETNAM,VNM,NaN,NaN,...,4,"Gulf Of Tonkin, Oceans (general), Oceans",OS,OS00,NaN,20.0000,108.0000,-1506442,20250301000000,https://www.understandingwar.org/backgrounder/...
4182,1229426337,20250301,202503,2025,2025.1671,VNM,VIETNAM,VNM,NaN,NaN,...,2,"South Carolina, United States",US,USSC,NaN,33.8191,-80.9066,SC,20250301000000,https://www.chattanoogan.com/2025/2/28/499965/...
4183,1229426338,20250301,202503,2025,2025.1671,VNM,VIETNAM,VNM,NaN,NaN,...,3,"Hollywood, California, United States",US,USCA,CA037,34.0983,-118.3270,1660757,20250301000000,https://movieweb.com/liam-neeson-best-performa...
4184,1229426339,20250301,202503,2025,2025.1671,VNM,VIETNAM,VNM,NaN,NaN,...,1,United Kingdom,UK,UK,NaN,54.0000,-4.0000,UK,20250301000000,https://movieweb.com/liam-neeson-best-performa...
4185,1229426340,20250301,202503,2025,2025.1671,dak,SIOUX,NaN,NaN,dak,...,3,"Le Mars, Iowa, United States",US,USIA,NaN,42.7942,-96.1656,458255,20250301000000,https://www.dakotanewsnow.com/2025/02/28/devel...

In [26]:
table.to_csv('data/events-schema.csv',sep=' ',header=False,index=False)

In [4]:
columns

['GLOBALEVENTID',
 'SQLDATE',
 'MonthYear',
 'Year',
 'FractionDate',
 'Actor1Code',
 'Actor1Name',
 'Actor1CountryCode',
 'Actor1KnownGroupCode',
 'Actor1EthnicCode',
 'Actor1Religion1Code',
 'Actor1Religion2Code',
 'Actor1Type1Code',
 'Actor1Type2Code',
 'Actor1Type3Code',
 'Actor2Code',
 'Actor2Name',
 'Actor2CountryCode',
 'Actor2KnownGroupCode',
 'Actor2EthnicCode',
 'Actor2Religion1Code',
 'Actor2Religion2Code',
 'Actor2Type1Code',
 'Actor2Type2Code',
 'Actor2Type3Code',
 'IsRootEvent',
 'EventCode',
 'EventBaseCode',
 'EventRootCode',
 'QuadClass',
 'GoldsteinScale',
 'NumMentions',
 'NumSources',
 'NumArticles',
 'AvgTone',
 'Actor1Geo_Type',
 'Actor1Geo_FullName',
 'Actor1Geo_CountryCode',
 'Actor1Geo_ADM1Code',
 'Actor1Geo_ADM2Code',
 'Actor1Geo_Lat',
 'Actor1Geo_Long',
 'Actor1Geo_FeatureID',
 'Actor2Geo_Type',
 'Actor2Geo_FullName',
 'Actor2Geo_CountryCode',
 'Actor2Geo_ADM1Code',
 'Actor2Geo_ADM2Code',
 'Actor2Geo_Lat',
 'Actor2Geo_Long',
 'Actor2Geo_FeatureID',
 'ActionGeo_Type',
 'ActionGeo_FullName',
 'ActionGeo_CountryCode',
 'ActionGeo_ADM1Code',
 'ActionGeo_ADM2Code',
 'ActionGeo_Lat',
 'ActionGeo_Long',
 'ActionGeo_FeatureID',
 'DATEADDED',
 'SOURCEURL']

In [5]:
L = ['GLOBALEVENTID', 'SQLDATE', 'MonthYear', 'Year', 'FractionDate', 'Actor1Code', 'Actor1Name', 'Actor1CountryCode', 'Actor1KnownGroupCode','Actor1EthnicCode', 'Actor1Religion1Code', 'Actor1Religion2Code', 'Actor1Type1Code', 'Actor1Type2Code', 'Actor1Type3Code', 'Actor2Code', 'Actor2Name', 'Actor2CountryCode', 'Actor2KnownGroupCode', 'Actor2EthnicCode', 'Actor2Religion1Code', 'Actor2Religion2Code', 'Actor2Type1Code', 'Actor2Type2Code', 'Actor2Type3Code', 'IsRootEvent', 'EventCode', 'EventBaseCode', 'EventRootCode', 'QuadClass', 'GoldsteinScale', 'NumMentions', 'NumSources', 'NumArticles', 'AvgTone', 'Actor1Geo_Type', 'Actor1Geo_FullName', 'Actor1Geo_CountryCode', 'Actor1Geo_ADM1Code', 'Actor1Geo_ADM2Code', 'Actor1Geo_Lat', 'Actor1Geo_Long', 'Actor1Geo_FeatureID', 'Actor2Geo_Type', 'Actor2Geo_FullName', 'Actor2Geo_CountryCode', 'Actor2Geo_ADM1Code', 'Actor2Geo_ADM2Code', 'Actor2Geo_Lat', 'Actor2Geo_Long', 'Actor2Geo_FeatureID', 'ActionGeo_Type', 'ActionGeo_FullName', 'ActionGeo_CountryCode', 'ActionGeo_ADM1Code','ActionGeo_ADM2Code','ActionGeo_Lat','ActionGeo_Long','ActionGeo_FeatureID','DATEADDED','SOURCEURL']

In [6]:
Ls = [ 'S.'+l for l in L]

In [7]:
Ls

['S.GLOBALEVENTID',
 'S.SQLDATE',
 'S.MonthYear',
 'S.Year',
 'S.FractionDate',
 'S.Actor1Code',
 'S.Actor1Name',
 'S.Actor1CountryCode',
 'S.Actor1KnownGroupCode',
 'S.Actor1EthnicCode',
 'S.Actor1Religion1Code',
 'S.Actor1Religion2Code',
 'S.Actor1Type1Code',
 'S.Actor1Type2Code',
 'S.Actor1Type3Code',
 'S.Actor2Code',
 'S.Actor2Name',
 'S.Actor2CountryCode',
 'S.Actor2KnownGroupCode',
 'S.Actor2EthnicCode',
 'S.Actor2Religion1Code',
 'S.Actor2Religion2Code',
 'S.Actor2Type1Code',
 'S.Actor2Type2Code',
 'S.Actor2Type3Code',
 'S.IsRootEvent',
 'S.EventCode',
 'S.EventBaseCode',
 'S.EventRootCode',
 'S.QuadClass',
 'S.GoldsteinScale',
 'S.NumMentions',
 'S.NumSources',
 'S.NumArticles',
 'S.AvgTone',
 'S.Actor1Geo_Type',
 'S.Actor1Geo_FullName',
 'S.Actor1Geo_CountryCode',
 'S.Actor1Geo_ADM1Code',
 'S.Actor1Geo_ADM2Code',
 'S.Actor1Geo_Lat',
 'S.Actor1Geo_Long',
 'S.Actor1Geo_FeatureID',
 'S.Actor2Geo_Type',
 'S.Actor2Geo_FullName',
 'S.Actor2Geo_CountryCode',
 'S.Actor2Geo_ADM1Code',
 'S.Actor2Geo_ADM2Code',
 'S.Actor2Geo_Lat',
 'S.Actor2Geo_Long',
 'S.Actor2Geo_FeatureID',
 'S.ActionGeo_Type',
 'S.ActionGeo_FullName',
 'S.ActionGeo_CountryCode',
 'S.ActionGeo_ADM1Code',
 'S.ActionGeo_ADM2Code',
 'S.ActionGeo_Lat',
 'S.ActionGeo_Long',
 'S.ActionGeo_FeatureID',
 'S.DATEADDED',
 'S.SOURCEURL']